@model IEnumerable<REERP.Models.Category>
@using REERP.Security;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    var user = (MyIdentityUser)HttpContext.Current.Session["USER_INFO"];
}
@Styles.Render("~/Content/datatable")
<div class="card pd-20 pd-sm-40">

    <div class="table-wrapper">
        <table id="datatable1" class="table display responsive nowrap">
            <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
                <th>@Html.DisplayNameFor(model => model.CategoryDescription)</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            @foreach (REERP.Models.Category item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryDescription)
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn yellow btn-sm" href="@Url.Action("Edit", "Categories", new { id = item.CategoryId })"><span class="fa fa-edit"></span>Edit</a>
                            <a class="btn red btn-sm btn-delete-category" href="#" categoryId="@item.CategoryId"><span class="fa fa-times-circle"></span>Delete</a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
    

<div class="modal" id="cats-modal-category-delete">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="myModalLabel" class="modal-title">Delete Category</h4>
            </div>


            <div class="modal-body">

                <p>
                    Are you sure do you want to delete the Category?
                </p>

            </div>
            <div class="modal-footer">
                <button id="yes-delete" class="btn btn-primary" type="submit">Yes</button>
                <button id="no" class="btn" data-dismiss="modal" aria-hidden="true">No</button>
            </div>


        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/datatable")
}
<script>
    $(function () {
        $(".btn-delete-category").click(function () {
            var categoryId = $(this).attr('categoryId');
            $('#cats-modal-category-delete').modal('show');

            $("#yes-delete").click(function () {

                window.location = "@Url.Action("Delete", "Categories")" + "/" + categoryId;

            });
        });
        $("#datatable1").DataTable({
            responsive: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
                lengthMenu: '_MENU_ items/page',
            }
        });

        // Select2
        $(".dataTables_length select").select2({ minimumResultsForSearch: Infinity });
    });
</script>