@model REERP.Models.ChangePassword

@{
    Layout = "~/Views/Shared/NewTheme _MainLayout_Sidebar.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change Password</title>
</head>
<body>

    <div class="row">
        <div class="col-md-11">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="icon-list font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">Change Password</span>
                    </div>
                    <div class="tools">
                        <a href="#" class="collapse" data-original-title="" title=""></a>
                    </div>
                    <div class="actions">
                        <a class="btn green btn-sm" data-buttontype="btn_save" onclick="javascript: document.getElementById('frm_change_password').submit()" data-submittedform="frm_change_password"><span class="fa fa-save"></span> Save</a>
                        <a class="btn red btn-sm" href="@Url.Action("Index", "Home")"><span class="fa fa-times-circle"></span> Cancel</a>
                        <a class="btn btn-icon-only btn-default fullscreen"></a>
                    </div>
                </div>
                <div class="portlet-body row">
                    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "frm_change_password", @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken();
                        <div class="col-md-offset-1 col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.OldPassword, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.NewPassword, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmNewPassword, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.ConfirmNewPassword, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    }
                    @ViewBag.Message
                    @Html.ValidationSummary()
                </div>
            </div>
        </div>
    </div>
</body>
</html>
