<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    

    <!-- Meta -->
    <meta name="description" content="REERP Stock System.">
    <meta name="author" content="Temesgen Sisay & Endale Ermias">


    <title>@ViewBag.Title</title>

    
    <!-- vendor css -->
    @Styles.Render("~/Content/K-css")
    @Scripts.Render("~/bundles/K-jquery")
</head>

<body>
    
@RenderBody()


@RenderSection("scripts", required: false)
</body>
</html>

