@model IEnumerable<REERP.Models.ViewModels.StockReportViewModel>

@{
    ViewBag.Title = "Total Stock Report";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

@Styles.Render("~/Content/datatable")
<div class="col-md-12  col-sm-12">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green-sharp">
                <i class="icon-list font-green-sharp"></i>
                
            </div>
            <div class="tools">
                <a href="#" class="collapse" data-original-title="" title=""></a>
            </div>
            <div class="actions">
                <button class="btn btn-sm pull-right btn-default" id="print">Print</button>
            </div>
        </div>


        <div class="portlet-body">
            <div class="table-responsive" style="overflow:visible !important;">
                <table id="datatable1" class="table display responsive nowrap">
                    <thead>
                        <tr>
                            <th>
                                Product
                            </th>
                            <th>
                                Unit Cost
                            </th>
                            <th>
                                Quantity on Hand
                            </th>
                            <th>
                                Total Cost
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.ProductName
                                </td>
                                <td>
                                    @item.UnitCost
                                </td>
                                <td>
                                    @item.QuantityOnHand
                                </td>
                                <td>
                                    @(item.QuantityOnHand * item.UnitCost)
                                </td>
                            </tr>
                        }
                    </tbody>
                    </table>

            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/datatable")
}
<script type="text/javascript">
    $("#print").click(function () {
        print();
    });
    $(function () {
            $("#datatable1").DataTable({
                responsive: true,
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '',
                    lengthMenu: '_MENU_ items/page',
                }
            });

            // Select2
            $(".dataTables_length select").select2({ minimumResultsForSearch: Infinity });
        });
</script>