@model IEnumerable<REERP.Models.Productc>

@{
    ViewBag.Title = "Inventory";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<link href="~/Content/katniss-template/css/rowGroup.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/katniss-template/css/jquery-ui.min.css" rel="stylesheet" />
@Styles.Render("~/Content/datatable")
@Scripts.Render("~/bundles/datatable")
<script src="/Content/katniss-template/js/jquery-ui.min.js"></script>
<script src="~/Content/katniss-template/js/dataTables.rowGroup.min.js"></script>

<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ProductName)</th>
            <th>Quantity</th>
            <th class="d-none">@Html.DisplayNameFor(model => model.Category.CategoryName)</th>
            <th>@Html.DisplayNameFor(model => model.UnitOfMeasure)</th>
            <th>@Html.DisplayNameFor(model => model.UnitCost)</th>
            <th>@Html.DisplayNameFor(model => model.UnitPrice)</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td></td>
                <td class="d-none">
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
        </tbody>
    }

</table>

<script>
   
    $(document).ready(function () {
        $('#example').DataTable({
            order: [[2, 'asc']],
            rowGroup: {
                dataSrc: 2
            }
        });
    });

</script>