@using REERP.Models.ViewModels;
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
@model IEnumerable<REERP.Models.Productc>
@Styles.Render("~/Content/datatable")

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="card bd-0">
                <div class="card-header card-header-default bg-primary">
                    Received items
                </div><!-- card-header -->
                <div class="card-body bd bd-t-0 rounded-bottom">
                   
                    <div class="table-responsive" style="overflow:visible !important;">

                        <table id="datatable1" class="table display responsive nowrap" style="width: 98%;">
                            <thead>
                            <tr>
                                <th>
                                    Received Date
                                </th>
                                <th>
                                    Branch Name
                                </th>
                                <th>
                                    Stock Keeper
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in ViewBag.ReceivedStock)
                            {
                                <tr>
                                    <td>
                                        @item?.DateReceived?.Date
                                    </td>
                                    <td>
                                        @item.BranchName
                                    </td>
                                    <td>
                                        @item.UserName
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        <a href="@Url.Action("Create","ProductReceives")" class="card-link">Receive new item</a>
                    </div>
                 
                </div><!-- card-body -->
            </div><!-- card -->
        </div>
        <div class="col-6">
            <div class="card bd-0">
                <div class="card-header card-header-default bg-primary">
                    Transfered Items
                </div><!-- card-header -->
                <div class="card-body bd bd-t-0 rounded-bottom">
                    <div class="table-responsive" style="overflow:visible !important;">
                        <table id="datatable2" class="table display responsive nowrap" style="width: 98%;">
                            <thead>
                            <tr>
                                <th>
                                    Transfered Date
                                </th>
                                <th>
                                    From Branch
                                </th>
                                <th>
                                    To Branch
                                </th>
                                <th>
                                    Store Keeper
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in ViewBag.TransferredStock)
                            {
                                <tr>
                                    <td>
                                        @item?.DateTransfered
                                    </td>
                                    <td>
                                        @item.FromBranchName
                                    </td>
                                    <td>
                                        @item.ToBranchName
                                    </td>
                                    <td>
                                        @item.UserName
                                    </td>
                                </tr>
                            }

                            </tbody>
                        </table>
                    </div>
                    <a href="@Url.Action("Create","ProductTransfers")" class="card-link">Transfer new item</a>
                </div><!-- card-body -->
            </div><!-- card -->
        </div>
    </div>
<div class="row">
    <div class="col-6">
        <div class="card bd-0">
            <div class="card-header card-header-default bg-primary">
                Sales
            </div><!-- card-header -->
            <div class="card-body bd bd-t-0 rounded-bottom">
                   
                <div class="table-responsive" style="overflow:visible !important;">

                    <table id="datatable3" class="table display responsive nowrap" style="width: 98%;">
                        <thead>
                        <tr>
                            <th>
                                Product
                            </th>
                            <th>
                                Unit Price
                            </th>
                            <th>
                                Quantity Sold
                            </th>
                            <th>
                                Total Price
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (SalesReportViewModel item in ViewBag.GroupedSLIs)
                        {
                            <tr>
                                <td>
                                    @item.ProductName
                                </td>
                                <td>
                                    @item.UnitPrice
                                </td>
                                <td>
                                    @item.QuantitySold
                                </td>
                                <td>
                                    @(item.QuantitySold * item.UnitPrice)
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <a href="@Url.Action("Create","SalesInvoices")" class="card-link">Sale new item</a>
                </div>
                 
            </div><!-- card-body -->
        </div><!-- card -->
    </div>
    <div class="col-6">
        <div class="card bd-0">
            <div class="card-header card-header-default bg-primary">
                Items returned
            </div><!-- card-header -->
            <div class="card-body bd bd-t-0 rounded-bottom">
                <div class="table-responsive" style="overflow:visible !important;">
                    <table id="datatable4" class="table display responsive nowrap" style="width: 98%;">
                        <thead>
                        <tr>
                            <th>
                                ReferenceNo
                            </th>
                            <th>
                                Customer Name
                            </th>
                            <th>
                                Branch Name
                            </th>
                            <th>
                                SalesType
                            </th>
                            <th>
                                Sales Person
                            </th>
                            <th>
                                Date Sold
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (REERP.Models.ViewModels.SalesInvoiceViewModel item in ViewBag.ReturnedSales)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReferenceNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BranchName)
                                </td>
                                <td>
                                    @if (item.SalesType == 0)
                                    {
                                        <div>Credit</div>
                                    }
                                    else
                                    {
                                        <div>Cash</div>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateSold)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                            </tr>
                                  
                        }
                        </tbody>
                    </table>
                </div>
            </div><!-- card-body -->
        </div><!-- card -->
    </div>
</div>
</div>



  
@section scripts{
    @Scripts.Render("~/bundles/datatable")
}  
<script>
    $('#datatable1').DataTable({
        bLengthChange: false,
        searching: false,
        responsive: true
    });
</script>