@model REERP.Models.ProductReceive

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/NewTheme _MainLayout_Sidebar.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ProductReceive</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateReceived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateReceived)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductReceiveId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
