@model IEnumerable<REERP.Models.ViewModels.ProductReceiveViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

@Styles.Render("~/Content/datatable")

<div class="card pd-20 pd-sm-40">

    <div class="table-wrapper">
        <table id="datatable1" class="table display responsive nowrap">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateReceived)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BranchName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>Actions</th>
            </tr>

            </thead>
            <tbody>@foreach (var item in Model)
                   {
                       <tr>
                           <td>
                               @Html.DisplayFor(modelItem => item.DateReceived.Date)
                           </td>
                           <td>
                               @Html.DisplayFor(modelItem => item.BranchName)
                           </td>
                           <td>
                               @Html.DisplayFor(modelItem => item.UserName)
                           </td>
                           <td>
                               <div class="btn-group">
                                   <a class="btn yellow btn-sm" href="@Url.Action("Edit", "ProductReceives", new { id = item.ProductReceiveId })"><span class="fa fa-edit"></span>Edit</a>
                                   <a class="btn red btn-sm btn-delete-product-receive" href="#" productReceiveId="@item.ProductReceiveId"><span class="fa fa-times-circle"></span>Delete</a>
                               </div>

                           </td>
                       </tr>
                   }
            </tbody>
        </table>
    </div>
    <div class="actions">
        <a href="@Url.Action("Create", "ProductReceives")" class="btn green" btn-success=""
           data-buttontype="btn_new_record"><i class="fa fa-plus"></i>Receive Product</a>
    </div>
</div>




<div class="modal" id="cats-modal-product-receive-delete">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="myModalLabel" class="modal-title">Delete Product Receive</h4>
            </div>


            <div class="modal-body">

                <p>
                    Are you sure do you want to delete the Product Receive?
                </p>

            </div>
            <div class="modal-footer">
                <button id="yes-delete" class="btn btn-primary" type="submit">Yes</button>
                <button id="no" class="btn" data-dismiss="modal" aria-hidden="true">No</button>
            </div>


        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/datatable")
}
<script>
    $(function () {
        $(".btn-delete-product-receive").click(function () {
            var productReceiveId = $(this).attr('productReceiveId');
            $('#cats-modal-product-receive-delete').modal('show');

            $("#yes-delete").click(function () {

                window.location = "@Url.Action("Delete", "ProductReceives")" + "/" + productReceiveId;

            });
        });
        $("#datatable1").DataTable({
            responsive: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
                lengthMenu: '_MENU_ items/page',
            }
        });

        // Select2
        $(".dataTables_length select").select2({ minimumResultsForSearch: Infinity });
    });
</script>

