@model REERP.Models.ProductReceive

@{
    ViewBag.Title = "Print Invoice";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<style type="text/css" media="print">
    @@page 
    {
        size: auto;   /* auto is the current printer page size */
        margin: 0mm;  /* this affects the margin in the printer settings */
    }

    body 
    {
        background-color:#FFFFFF;            
        margin: 10px;  /* the margin on the content before printing */
    }
    


    .footer {
       
        bottom: 0;
        width: 100%;
        height: 150px; /* Set the fixed height of the footer here */
        line-height: 60px; /* Vertically center the text there */
        background-color: #f5f5f5;
    }
    
    
</style>
<style>
    input[type="text"] {
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid #000000;
    }
</style>

<div class="row mg-b-7 d-print-none">
    <div class="col-lg-8 text-right"></div>
    <div class="col-lg-4 text-right">
        <a class="btn btn-info btn-sm mg-r-5 printPage" href="#"> <i class="fa fa-print"> </i> Print</a>
        <a href="@Url.Action("Index","ProductReceives")" class="btn btn-danger btn-sm"><i class="fa fa-close"> </i> Cancel</a>
    </div>

</div>



    <div>

        <div class="row mg-b-5 mg-t-0 pd-0 text-center" style="border-bottom: solid;margin-left: 0px;margin-right: 0px;">
            <div class="col"><h2>Receive Invoice</h2></div>
        </div>
        <div class="row mg-t-20">
            <div class="col">
                <h5>Store Keeper: @ViewBag.UserName</h5>
            </div>
            <div class="col text-right">
                <h5>Invoice #: @Model.InvoiceNO</h5>
            </div>
        </div>
        <div class="row mg-b-15">
            <div class="col">
                <h5>Branch: @Model.Branch.BranchName</h5>

            </div>
            <div class="col text-right">
                <h5>Date: @Model.DateReceived.ToShortDateString()</h5>
            </div>
        </div>

        <table id="datatable1" class="table table-bordered">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Unit Cost</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Total</th>

                </tr>
            </thead>
            @foreach (var item in ViewBag.LineItems)
        {
        <tbody>
            <tr>
                <td>@item.Productname</td>
                <td>@item.UnitCost</td>
                <td class="price">@item.UnitPrice</td>
                <td class="quantity">@item.Quantity</td>
                <td class="total"></td>
            </tr>
        </tbody>
        }
            <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td class="text-right">Grand Total </td>
                    <td id="gTotal"></td>
                </tr>
            </tfoot>
        </table>



    </div>
   
    <footer class="footer d-none d-print-block" style="page-break-before: always;margin-top: 20px">
        <div class="container">
            <form>
                <div class="form-row">
                    <div class="col-4">
                        <label>Name:</label><br/>
                        <input type="text"><br />
                        <input type="text">
                    </div>
                    
                    <div class="col-4 offset1">
                        <label>Signature</label><br />
                        <input type="text"><br />
                        <input type="text">
                    </div>
                </div>
              
            </form>
        </div>
    </footer>

    <script>
    $('a.printPage').click(function () {
        window.print();
        return false;
    });

    $(document).ready(function () {

        update_amounts();

    });
    function update_amounts() {
        var sum = 0.0;
        $('#datatable1 > tbody  > tr').each(function () {
            var qty = $(this).find("td").eq(3).html();
            var price = $(this).find("td").eq(2).html();

            var amount = parseFloat(qty) * parseFloat(price);
            amount = isNaN(amount) ? 0 : amount;
            $(this).find("td").eq(4).html(amount);
            sum += amount;
        });

        $("#gTotal").html(sum);

    }
    </script>
